@import "../../media-mixin";

.todo__item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: flex-start;
  gap: 12px;

  padding: 16px;

  background-color: #262626;

  border: 1px solid #333333;
  border-radius: 8px;

  @include mq('custom', 'max', 640) {
    padding: 8px;
    gap: 8px;
  }
  
  &--checked {
    order: 1;

    .todo__item-check {
      background: #5E60CE url("./check-icon.svg") no-repeat center;
      border-color: #5E60CE;
    }
    
    .todo__item-text {
      text-decoration: line-through;
      color: #808080;
    }
  }

  &-check {
    width: 17px;
    height: 17px;
    margin: 3px;

    border: 2px solid #4EA8DE;
    border-radius: 50%;
  }

  &-text {
    font-size: 17px;
    color: #F2F2F2;

    @include mq('custom', 'max', 640) {
      grid-row: 2 / 3;
      grid-column: span 3;
    }
  }

  &-delete {
    @include mq('custom', 'max', 640) {
      margin-left: auto;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }
}